body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px;
}

.btn {
  background: #3b82f6;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.checkout {
  text-align: center;
  padding: 50px;
}

.checkout input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}